@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #FDFBF7;
  -webkit-tap-highlight-color: transparent;
}
